src/main/resources/wsdl/package.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://captechconsulting.com/xmlschema/package" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://captechconsulting.com/xmlschema/package" targetNamespace="http://captechconsulting.com/xmlschema/package">
    <wsdl:types>
        <xs:schema xmlns:schema-base="http://captechconsulting.com/xmlschema/package" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://captechconsulting.com/xmlschema/package">
            <xs:element name="PackageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="packageId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PackageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="locations">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="location">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="locationId" type="xs:long"/>
                                                <xs:element name="date" type="xs:dateTime"/>
                                                <xs:element name="origin" type="xs:boolean"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="error" type="schema-base:error"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="error">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="code" type="xs:int"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="PackageResponse">
        <wsdl:part element="tns:PackageResponse" name="PackageResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PackageRequest">
        <wsdl:part element="tns:PackageRequest" name="PackageRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Package">
        <wsdl:operation name="Package">
            <wsdl:input message="tns:PackageRequest" name="PackageRequest">
            </wsdl:input>
            <wsdl:output message="tns:PackageResponse" name="PackageResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PackageSoap11" type="tns:Package">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Package">
            <soap:operation soapAction=""/>
            <wsdl:input name="PackageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PackageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PackageService">
        <wsdl:port binding="tns:PackageSoap11" name="PackageSoap11">
            <soap:address location="/services/package/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>